<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
    <form id="addslot" name="addslot" method="post" action="/add-slot">
        <label for="timeTypeID">timeTypeID</label>
        <input name="timeTypeID" type="text" />
        <label for="startTime">startTime</label>
        <input name="startTime" type="datetime-local" />
        <label for="endTime">endTime</label>
        <input name="endTime" type="datetime-local" />

        <input class="btn" type="submit" value="Add Type" />
    </form>
 
</body>
 
</html>