<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 timeTypeGroup
<body>
    <form id="createtype" name="createtype" method="post" action="/add-time-type-group">

        <label for="typeName">typeName</label>
        <input name="typeName" type="text" />

        <input class="btn" type="submit" value="Add Type" />
    </form>
 
</body>
 
</html>