{{> header }}


<div class="full-brandblock" style="background-color:#008e9c">
        <div class="grid-container">
                <div class="grid-60 mobile-grid-100 leftside">
                    <span class="typeName">Add Category</span>
                </div>
            </div>
</div>
    <br>
    <div class="grid-container">

    <form id="createtype" name="createtype" method="post" action="/add-time-type-group">

        <label for="typeName">Category Name</label>
        <input name="typeName" type="text" />

        <button class="btn" type="submit" value="Add Category" />
    </form>
 
{{> footer}}