<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
    <form id="createtype" name="createtype" method="post" action="/createtype">
        <label for="typeName">typeName</label>
        <input name="typeName" type="text" />
        <label for="typeColour">typeColour</label>
        <input name="typeColour" type="text" />
        <label for="typeDescription">typeDescription</label>
        <input name="typeDescription" type="text" />
        <label for="typeIcon">typeIcon</label>
        <input name="typeIcon" type="text" />

        <input class="btn" type="submit" value="Add Type" />
    </form>
 
</body>
 
</html>