{{> header }}

<div class="full-brandblock" style="background-color:#40BCD8">
        <div class="grid-container">
                <div class="grid-60 mobile-grid-100 leftside">
                    <span class="typeName">Add Project</span>
                </div>
            </div>
</div>
    <br>
    <div class="grid-container">

    <form id="createtype" name="createtype" method="post" encType="multipart/form-data"  action="/add-time-type">
        <label for="groupTypeID">Category</label>
        <select name="groupTypeID">
            {{#each timeTypeGroup}}
            <option value="{{id}}">{{groupTypeName}}</option>
            {{/each}}
        </select>
        <label for="typeName" >Name</label>
        <input name="typeName" type="text" required/>
        <label for="typeColour">Colour</label>
        <input class="jscolor" name="typeColour" value="efefef" required/>
        <label for="typeDescription">Description</label>
        <input name="typeDescription" type="text" required/>
        <label for="typeIcon">Icon</label>
        <input accept="image/png" name="icon" type="file" />

        <input class="btn" type="submit" value="Add Project" />
    </form>
 
{{> footer}}