{{> header }}

<div class="topbar">
    <div class="grid-container">

        <a class="grid-25 topbutton addSlot" href="/add-slot">
        <i class="fa fa-plus"></i> Activity
        </a>
        <a class="grid-25 topbutton addProject" href="/add-time-type">
        <i class="fa fa-plus"></i> Project     
        </a>
        <a class="grid-25 topbutton addCategory" href="/add-time-type-group">
        <i class="fa fa-plus"></i> Category    
        </a>
        <a class="grid-25 topbutton invoice" href="/add-time-type-group">
        <i class="fa fa-file-alt"></i> Invoice Magic    
        </a>
    </div>
    </div>

    <div class="grid-container">

        <div class="dayBreak">
            Today (25th January):
        </div>

        <div class="time-block" style="background-color:#5345ba">
            <div class="grid-container">
                <div class="grid-10 mobile-grid-100 cw-custom-upload">
                    <div class="image" style="background:url(/custom_timetype_images/code.svg);"></div>
                </div>
                <div class="grid-60 mobile-grid-100 leftside">
                    <span class="type" style="color:#5345ba">Coursework</span>
                    <span class="typeName">Networking and User Interface Design</span>
                    <span class="typeDesc">Description Here</span>
                    <span class="typeTime">4:01pm - 6:10pm</span>
                </div>
                <div class="grid-30 mobile-grid-100 rightside">
                    <span class="typeDuration">2 hours</span>
                    <a class="typeUpdate" href="#">View All</a>
                    <a class="typeUpdate" href="#">Modify</a>
                </div>
            </div>
        </div>




    </table>

{{> footer}}
