<!DOCTYPE html>
<html>
 
<head>
    <title>ticktime v0.1</title>
    <link rel="stylesheet" type="text/css" href="https://na.thaniel.uk/css/grid.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
 
<body>

    <div class="topmenu">
        <div class="grid-container">
            <div class="left">ticktime <a class="alpha">alpha</a></div>
            <div class="right">
                <a class="logout" href="/logout">Logout</a>
            </div>
        </div>
    </div>

    <div class="topbar">
    <div class="grid-container">

        <a class="grid-33 topbutton addSlot" href="/add-slot">
        <i class="fa fa-plus"></i> Activity

        </a>
        <a class="grid-33 topbutton addProject" href="/add-time-type">
        <i class="fa fa-plus"></i> Project
            
        </a>
        <a class="grid-33 topbutton addCategory" href="/add-time-type-group">
        <i class="fa fa-plus"></i> Category
            
        </a>
    </div>
    </div>

    <div class="grid-container">

        <div class="dayBreak">
            Today (25th January):
        </div>

        <div class="time-block" style="background-color:#5345ba">
            <div class="grid-container">
                <div class="grid-10 mobile-grid-100 cw-custom-upload">
                    <div class="image" style="background:url(/custom_timetype_images/code.svg);"></div>
                </div>
                <div class="grid-60 mobile-grid-100 leftside">
                    <span class="type" style="color:#5345ba">Coursework</span>
                    <span class="typeName">Networking and User Interface Design</span>
                    <span class="typeDesc">Description Here</span>
                    <span class="typeTime">4:01pm - 6:10pm</span>
                </div>
                <div class="grid-30 mobile-grid-100 rightside">
                    <span class="typeDuration">2 hours</span>
                    <a class="typeUpdate" href="#">View All</a>
                    <a class="typeUpdate" href="#">Modify</a>
                </div>
            </div>
        </div>

        <div class="dayBreak">
            Yesterday (24th January)
        </div>

        <div class="time-block" style="background-color:#008e9c">
            <div class="grid-container">
                <div class="grid-10 mobile-grid-100 cw-custom-upload">
                    <div class="image" style="background:url(/custom_timetype_images/torch.svg);"></div>
                </div>
                <div class="grid-60 mobile-grid-100 leftside">
                    <span class="type" style="color:#008e9c">Work</span>
                    <span class="typeName">SIS Programme - University of Hull</span>
                    <span class="typeDesc">Description Here</span>
                    <span class="typeTime">4:01pm - 6:10pm</span>
                </div>
                <div class="grid-30 mobile-grid-100 rightside">
                    <span class="typeDuration">2 hours</span>
                    <a class="typeUpdate" href="#">View All</a>
                    <a class="typeUpdate" href="#">Modify</a>
                </div>
            </div>
        </div>

        <div class="time-block" style="background-color:#3c185b">
            <div class="grid-container">
                <div class="grid-10 mobile-grid-100 cw-custom-upload">
                    <div class="image" style="background:url(/custom_timetype_images/torch.svg);"></div>
                </div>
                <div class="grid-60 mobile-grid-100 leftside">
                    <span class="type" style="color:#3c185b">Work</span>
                    <span class="typeName">Accomodation Open Days - University of Hull</span>
                    <span class="typeDesc">Description Here</span>
                    <span class="typeTime">4:01pm - 6:10pm</span>
                </div>
                <div class="grid-30 mobile-grid-100 rightside">
                    <span class="typeDuration">2 hours</span>
                    <a class="typeUpdate" href="#">View All</a>
                    <a class="typeUpdate" href="#">Modify</a>
                </div>
            </div>
        </div>

        <div class="time-block" style="background-color:#2c55a2">
            <div class="grid-container">
                <div class="grid-10 mobile-grid-100 cw-custom-upload">
                    <div class="image" style="background:url(/custom_timetype_images/torch.svg);"></div>
                </div>
                <div class="grid-60 mobile-grid-100 leftside">
                    <span class="type" style="color:#2c55a2">Work</span>
                    <span class="typeName">Computer Science Demonstrator - University of Hull</span>
                    <span class="typeDesc">Description Here</span>
                    <span class="typeTime">4:01pm - 6:10pm</span>
                </div>
                <div class="grid-30 mobile-grid-100 rightside">
                    <span class="typeDuration">2 hours</span>
                    <a class="typeUpdate" href="#">View All</a>
                    <a class="typeUpdate" href="#">Modify</a>
                </div>
            </div>
        </div>

        <div class="dayBreak">
            Monday 23rd January 2019
        </div>

        <div class="time-block" style="background-color:#13162a">
            <div class="grid-container">
                <div class="grid-10 mobile-grid-100 cw-custom-upload">
                    <div class="image" style="background:url(/custom_timetype_images/visr.png);"></div>
                </div>
                <div class="grid-60 mobile-grid-100 leftside">
                    <span class="type" style="color:#13162a">Work</span>
                    <span class="typeName">VISR</span>
                    <span class="typeDesc">Description Here</span>
                    <span class="typeTime">4:01pm - 6:10pm</span>
                </div>
                <div class="grid-30 mobile-grid-100 rightside">
                    <span class="typeDuration">2 hours</span>
                    <a class="typeUpdate" href="#">View All</a>
                    <a class="typeUpdate" href="#">Modify</a>
                </div>
            </div>
        </div>  
    </div>



    </table>


<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');

body {
    font-family: 'open sans';
}

.time-block {
    padding: 30px;
    color: #ffffff;
    margin-bottom: 10px;
    line-height: 1.7;
}

.time-block a {
    opacity: 0.8 !important;
    color:#ffffff !important;
}

.typeName {
    font-weight: bold;
    font-size: 22px;
    display: block;
}

.typeDesc {
    display: block;
    line-height: 2;
    font-weight: 200;
}

.typeTime {
    display: block;
}

.cw-icon {
    font-size: 60px;
    max-width: 90px;
    text-align: left;
    margin-top: -5px;
}

.typeDuration
{
    display: block;
    font-weight: 400;
    font-size: 25px;
}

.typeUpdate 
{
    display: block;
}

.typeDelete
{
    display: block;
}

.rightside
{
    text-align: right;
    font-size: 14px;
}

.cw-custom-upload {
    max-width: 70px;
    }

.cw-custom-upload .image {
    width: 50px;
    height: 100px;
    background-repeat: no-repeat !important;
    background-position: left center !important;
    background-size: contain !important;
    margin: auto;
}

.leftside 
{
    margin-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.18);
    padding-left: 20px;

}

.type {
    background-color: #ffffff;
    padding: 2px 6px;
    font-size: 10px;
    line-height: 1.2;
}

.dayBreak 
{
    line-height: 2;
    padding: 15px 15px;
    color: #3e3e3e;
    background-color: #f7f7f7;
    margin-bottom: 10px;
    font-weight: 600;
    border-radius: 2px;
}

.addSlot
{
background-color: #F39237;
}

.addProject
{
background-color: #40BCD8;
}

.addCategory
{
    background-color: #15B097;
}

.topbutton {
    text-align: center;
    padding: 20px 10px;
    margin: 10px 0;
    color: #ffffff;
    display: block;
}

.topbutton {
    text-decoration: none !important;
}

.wrapper 
{
    max-width: 80%;
    min-width: 200px;
    margin: 0 auto;
}

.left 
{
    display: inline-block;
    width: 80%;
}
.right
{
    display: inline-block;
    width: 18%;
    text-align: right;
}

.topmenu 
{
    padding: 25px 10px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
}

body {
    margin: 0;
}

.logout 
{
    background-color: #dad9d9;
    padding: 10px 10px;
    color: #484848;
    text-decoration: dashed;
    border-radius: 3px;
}

.alpha {
    background-color: #c15384;
    padding: 4px 6px;
    color: #ffff;
    margin-left: 5px;
}
</style>
</body>
 
</html>